{{outlet}}

<div class="table-wrapper">
  <Tabulator
    @height="100%"
    @data={{this.data}}
    @columns={{this.columns}}
    @headerSort={{false}}
    resizableColumns={{true}}
    @cellClick={{this.onCellClick}}
  />
</div>